  /* *, *::before, *::after {
    box-sizing: border-box;
  }

  html, body, .wrapper {
    height: 100%;
    margin: 0;
  padding: 0;
  }

  body {
    font-family: sans-serif;
    background-color: #f9fbfd;
  }

  .wrapper {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  header {
    text-align: center;
    padding: 20px;
    padding-top: 0px;
    color: hsl(206, 17%, 28%);
  }

  .card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: hsl(206, 17%, 28%);
    font-size: 18px;
    margin: 0 auto;
    max-width: 800px;
    padding: 30px 40px;
  }

  .card-header::after {
    content: " ";
    display: block;
    width: 100%;
    background: #e7e9eb;
    height: 2px;
  }

  .card-body {
    min-height: 100px;
  }

  .card-footer {
    text-align: center;
  }

  .card-footer::before {
    content: " ";
    display: block;
    width: 100%;
    background: #e7e9eb;
    height: 2px;
  }

  .card-footer::after {
    content: " ";
    display: block;
    clear: both;
  }

  .btn {
    border: none;
    background-color: hsl(360, 91%, 36%);
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
    color: hsl(0, 0%, 100%);
    display: inline-block;
    font-size: 22px;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center;
    cursor: pointer;
  } */

  /* button[disabled] {
    cursor: default;
    background: #c0c7cf;
  } */

  /* .float-right {
    float: right;
  }

  #input {
    margin: auto;
  }

  #password {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    display: block;
    width: 100%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 85px;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px dashed #c0c7cf;
    border-radius: 6px;
    resize: none;
    overflow: hidden;
  } */

  * {
    text-align: center;
  }

  h1 {
    font-size: 30px;
    font-weight: bolder;
  }

  h2 {
    font-size: 25px;
    font-weight: bold;
  }

  body {
    background-image: url(https://i.pinimg.com/originals/e0/58/18/e05818d7c661fdab2d40c9d3cb35e8bd.jpg);
    background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  #password {
    height: 50px;
    width: 80%;
    margin: 20px;
  }

  #generate {
    margin-bottom: 10px;
    height: 60px;
    width: 150px;
    background-color: red;
  }

  #input {
    height: 30%;
    width: 10%;
  }

  .hidden {
    display: none;
    padding-bottom: 20px;
  }

  #paragraphOne {
    margin-bottom: 30px;
  }

  #paragraphTwo {
    margin-bottom: 15px;
  }

  .wrapper {
    background-image: url(https://motionarray.imgix.net/preview-271702-j7MCCckCvg-high_0002.jpg);
    width: 50%;
    margin: auto;
    margin-top: 200px;
    padding-top: 20px;
  }

  @media (max-width: 690px) {
    .btn {
      font-size: 1rem;
      margin: 16px 0px 0px 0px;
      padding: 10px 15px;
    }
    #password {
      font-size: 1rem;
    }
  }

  @media (max-width: 500px) {
    .btn {
      font-size: 0.8rem;
    }
  }